#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .container-fluid {
    width: 900px;
    margin: 0 auto;
  }

}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

.card {
  margin-bottom: 15px ! important;
}

.card-block > span {
  font-weight: bold ! important;
}

.company-btn {
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
}

.company-btn > .btn {
  width: 20%;
  display:flex;
  flex-direction:column;
}

.btn-block+.btn-block {
  margin-top: 0 ! important;
}